#main-header {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  font-size: 2rem;
  color: white;
  background-size: 100%;
  /*background-attachment: fixed;*/
}
  
#main-title {
  font-size: 4rem;
  color: white;
}